/* Colors */
:root {
    --white: #F6EFEE;
    --black: #1E1E24;
    --red: #FF4000;
    --lime: #BBF100;
    --yellow: #FFE74C;
}

@font-face {
    font-family: Chillax;
    src: url('Chillax-Variable.ttf');
    font-optical-sizing: auto;
    font-size: normal;
}
/*
@font-face {
  font-family: "Outfit", sans-serif;
  src:  url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik+Doodle+Shadow&display=swap');
} */